a{
    text-decoration: none;
    color: inherit;
}
.capcha{
    width: 400px;
    height: 340px;
    box-shadow: 0 0 5px #444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none;
}
.capcha img{
    width: 400px;
    height: 300px;
}
.capcha input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
}
.course{
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#reservationModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 5px #444;
    padding: 10px;
    display: none;
}

#reservationModal input{
    width: 200px;
}